.navbar {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.nav-right a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-right a:hover {
  color: orange;
}

.nav-right button {
  margin-left: 20px;
  background-color: orange;
  color: black;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
}

.nav-right button:hover {
  background-color: white;
}

