.admin-order-details {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.box {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.deliver-btn {
  background: #28a745;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.deliver-btn:disabled {
  background: #ccc;
}

.paid {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}

.total {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

