body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #2b322b;
  color: rgb(236, 232, 232);
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px;
  background: #e8f5e9;
}

.btn {
  background: #111211;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* SHOP */
.shop-container {
  padding: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card a {
  display: inline-block;
  margin-top: 10px;
  color: #1e201e;
  font-weight: bold;
}

/* PRODUCT DETAILS */
.product-details {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.product-details img {
  width: 300px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  background: #212321;
  color: white;
  text-align: center;
  padding: 10px;
}
